body {
  background-color: rgb(212, 208, 208);
  margin: 0;
}

body::before,
body::after {
  content: "";
  position: fixed;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

body::before {
  top: 0;
}

body::after {
  bottom: 0;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 25px 100px;
  margin-top: 60px;
}

#login {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 8px;
  background-color: rgb(255, 249, 249);
  padding: 6px 12px;

  transition: all 0.3s ease; 
}

#login:hover {
  color: #e50d0d;
  transform: scale(1.1);
}

